{% extends "base.html" %}
{% block content %}
{% include "nav.html" %}
{% include "flash.html" %}

<section id="item_detail" class="section">
  <div class="container">
    <div class="row">
      {% include "categories.html" %}
        <div class="col-md-9 padding-top-49">
          <div class="thumbnail">
            <div class="caption-full">
              <h6 class="pull-right padding-left-10"><a href = "{{url_for('delete_item', category_name = item.category.name, item_name = item.name)}}">Delete</a></h6>
              <h6 class="pull-right"><a href = "{{url_for('edit_item', category_name = item.category.name, item_name = item.name)}}">Edit</a></h6>
              <h4>{{ item.name }}</h4>
              <p>{{ item.description }}</p>
            </div>
          </div>
        </div>
      </div>
  </div>
</section>

{% endblock %}
